{% extends "blog/base.html" %}
{% block content %}

                    <div id="maintext" class="narrowwidth">
                  <div id ="blogtext" class="narrowwidth">

                    <p>  Hello, I'm Carolyn.  In May 2015, I took part in a <a href= "https://djangogirls.org/">Django Girls</a> workshop.  It was a fantastic day and I really enjoyed learning to code.   This website is the second version of the blog I created on that day and it's definitely work in progress.<br> </br>I aim to write about my "learning to code" journey.  It's started slowly but I want to change career, so I need to learn, to practise, to write code and regularly push code to <a href= "https://github.com/carolyny">GitHub</a> (take a look to see my progress).<br> </br> I run a <a href="https://www.codeclub.org.uk/">CodeClub</a> at my local school and have recently become involved in <a href="http://mumsintechnology.co.uk/"> Mums in Technology</a>.  So my challenge is not to get too distracted and keep learning!  </p>

                        </div>
                          </div>



{% endblock content %}
