
{% load staticfiles %}
<html>
    <head>

      <title>
      Pushing Code
      </title>
      <meta name="description" content="Blog about learning to code">
      <meta name="viewport" content="width=device-width">
      <meta charset="utf-8">
    <!--always use these 2 tags above  -->
      <link rel="stylesheet" href="../../static/css/reset.css">


      <link rel="stylesheet" href="../../static/css/blog.css">
    </head>
    <body>
      <div id = "container">
            <div id="topbar">
                <div class="fixedwidth">

                  <h1> <a href="/">Pushing Code</a> </h1>
                  <ul>
                    <li> About </li>
                    <li> Blog </li>
                  </ul>
                </div>

            </div>

            <div id="blogimage">


            </div>




            <!--

            <p> <strong> Hello, I'm Carolyn. </strong>  In May 2015, I took part in a <a href= "https://djangogirls.org/">Django Girls</a> workshop.  I was amazed at what I managed to complete in one day and how much I enjoyed coding.   This website, a work in progress, is the second version of the blog I created on that day (I like pictures so decided to add one to each blog entry. It took me ages to get it to work but it felt so good when it did!).</p>
            <p> I aim to write about my coding journey.  It's started slowly but if I want to change career (which I do), I need to learn, to practise, to write code and regularly <strong> push code. </strong>  So introduction over, time to get properly started.</p>

            <hr>
            -->

                {% block content %}
                {% endblock %}


                <div id="bottombar" >
                  <div class="fixedwidth">


                      <p>Still learning, dreaming and exploring</p>

                    </div>
                  </div>
                </div>
          </div>
    </body>
</html>
