
{% load staticfiles %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
          <div class="page-header">
            <h1><a href="/">Pushing Code</a></h1>

          </div>
          <div class = "introduction">

              <p> <strong> Hello, I'm Carolyn. </strong>  In May 2015, I took part in a <a href= "https://djangogirls.org/">Django Girls</a> workshop.  I was amazed at what I managed to complete in one day and how much I enjoyed coding.   This website, a work in progress, is the second version of the blog I created on that day (I like pictures so decided to add one to each blog entry. It took me ages to get it to work but it felt so good when it did!).</p>
              <p> I aim to write about my coding journey.  It's started slowly but if I want to change career (which I do), I need to learn, to practise, to write code and regularly <strong> push code. </strong>  So introduction over, time to get properly started.</p>


          </div>
        <hr>
          <div class = "content">
            <div class="row">

                {% block content %}
                {% endblock %}
            
            </div>
          </div>

    </body>
</html>
