

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.introduction {
    margin-top:40px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right:40px;

}

.content {
    margin-left: 40px;
    margin-right:40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

.date {
    float: left;
    color: #828282;
    padding-right: 20px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 60px;


}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
aside {
    float:right;
    padding:10px 40px 10px 10px;
}
