
@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:#1f1f2e;
  background-color:#E8E9EB;
}


#topbar{
  background-color:#312A3D;
  width:100%;
  height:140px;
  position:fixed;
  z-index: 3;
}

#topbar h1 {
  font-family: 'Great Vibes', cursive;
  color:#F6F8FF;
  text-align: center;
  padding-top: 30px;
}

#topbar h1 a {
  text-decoration: none;
  color:#F6F8FF;

}
#topbar li a{
  font-family: 'Montserrat', sans-serif;
  color:#F6F8FF;
  float: left;
  padding-right:20px;
  text-decoration:none;
}

#blogimage {
  background-image: url(../../media/view3.jpg);
  height:500px;
  position: static;
  z-index: 1;
}

#maintext{
  position:relative;
  top: -200px;
  z-index: 2;
  color:#56667A;
  line-height: 2.5;
}

#blogtext{
  background-color:#E8E9EB;
  position:static;
  z-index: 2;
  margin-top: 0px;
  color:#56667A;
  padding:50px;
}

#introtext{
  background-color:#E8E9EB;
  position:relative;
  z-index: 2;
  top: -200px;
  color:#56667A;
  line-height: 2.5;
  padding:50px;

}


#introtext a{
  color:#312A3D;
  text-decoration:none;
}

#blogtext h1 a{
  font-weight: lighter;;
  color: #292B2D;
  text-decoration:none;
  line-height: 1.5;
}
#blogtext h1 {
  font-weight: lighter;;
  color: #292B2D;
  text-decoration:none;
  line-height: 1.5;
}


#blogtext p{
  line-height: 2.5;
}

#blogtext a{
  color:#312A3D;
  text-decoration:none;
}

#bottombar{
  background-color:#312A3D;
  width:100%;
  height:60px;

}

#bottombar p {
    font-family: 'Great Vibes', cursive;
    color:#F6F8FF;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}

.clear{
  clear:both;
}

.fixedwidth{
  width:1000px;
  margin:0 auto;

}
.narrowwidth{
  width:900px;
  margin:0 auto;
}

.date{
  margin-bottom:20px;
  font-style: italic;
}

.more{
  float:right;
  margin-top:-10px;
  font-size: 1.2em;
  color:#312A3D;
}

.break{
  height:3px;
  border-bottom:2px #312A3D solid;
  padding-bottom:40px;
}
.blogimage{

  width:300px;
  margin-left:250px;
  padding-bottom:20px;
}

h1{
  font-size: 48px;
  font-weight: bold;
  color:#5A5F61;
}

aside {
    float:right;
    padding:10px 40px 10px 10px;
}
